* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  height: 100vh;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.left-half {
  grid-column: 1;
  grid-row: 1;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto;
}

.right-half {
 grid-column: 2;
  display: grid;
  grid-template-rows: 1fr auto 1fr; /* editor, button row, output */
  gap: 10px;
  height: 100%;
}

#solution {
    border: 1px solid #ccc;
    padding: 10px;
    overflow: auto;
    height: 100%;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* button on left, optional: center */
  gap: 10px;
}

#output {
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto;
  height: 100%;
}